  <%= f.input :employee_id, :collection => Employee.active.alphabetical, :include_blank => true, input_html: {class: "avg"} %>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email, value: @mail %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
