<%= simple_form_for(@store_flavor) do |f| %>
  <% if @store_flavor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_flavor.errors.count, "error") %> prohibited this store_flavor from being saved:</h2>

      <ul>
      <% @store_flavor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :store_id, :collection => Store.active.alphabetical, :include_blank => false, input_html: {class: "avg"} %>
  </div>
  <div class="field">
    <%= f.input :flavor_id, :collection => Flavor.active.alphabetical, :include_blank => false, input_html: {class: "avg"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
