<h1>Listing Shift/Job Connections</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Shift</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_jobs.each do |shift_job| %>
      <tr>
        <td><%= shift_job.job.name %></td>
        <td><%= shift_job.shift.employee.proper_name %></td>
        <td><%= shift_job.shift.date %></td>
        <td><%= link_to 'Show', shift_job %></td>
        <td><%= link_to 'Edit', edit_shift_job_path(shift_job) %></td>
        <td><%= link_to 'Destroy', shift_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift job', new_shift_job_path %>
