<%= simple_form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment_id %><br>
    <%= f.number_field :assignment_id %>
  </div>
  <div class="field">
    <%= f.input :date, as: :date_picker, :label => 'Date',
                input_html: {data: {date_options: {
                        defaultDate: Date.today.strftime('%D')
                }}} %> 
  <div class="field">
    <%= f.input :start_time, as: :time_picker, :label => 'Start Time'%>
  </div>
  <div class="field">
    <%= f.input :end_time, as: :time_picker, :label => 'End Time'%>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
